page-end-interac {
    .dates-pronto {
        font-family: 'Myriad Pro';
        font-size: 25px;
        margin: 0 auto;
        display: block;
        color: #003399;
        margin-right:2PX;
        line-height: 19px;
        text-align: center;
    }
}
