page-beneficiaries-edit {
    .invalid {
        border-bottom: 2px solid #FF6153;
      }    

      .title-center {
        font-family: 'Myriad Pro';
        font-size: 15px;
        margin: 0 auto;
        display: block;
        color: #003399;
        margin-right: 63px;
        line-height: 39px;
        text-align: center;
    }
          
}
