    .btn-Login-send{
        color:white; 
        font-size:18px; 
        border:none; 
        width: 80%;
        top: 40px;
        background-color:#c6c3e1;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
    }
    .btn-Login-close{
        color:white; 
        font-size:18px; 
        border:none; 
        width: 80%;
        top: 40px;
        background-color:#c6c3e1;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
    }    

    .title-center {
        font-family: 'Myriad Pro';
        font-size: 20px;
        margin: 0 auto;
        display: block;
        color: #003399;
        margin-right: 63px;
        line-height: 39px;
        text-align: center;
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }