page-send-wire {
    .dates-pronto {
            font-family: 'Myriad Pro';
            font-size: 25px;
            margin: 0 auto;
            display: block;
            color: #003399;
            margin-right:2PX;
            line-height: 19px;
            text-align: center;
        }
        .title-center {
            font-family: 'Myriad Pro';
            font-size: 20px;
            margin: 0 auto;
            display: block;
            color: #003399;
            margin-right: 63px;
            line-height: 39px;
            text-align: center;
            align-content: center;
        }
      
}
