page-end-emailtransfer {
    .alert-positive-yellow{
        background-color: orange;
        margin-top: 2%;
        color: white;
        font-size: 12px;
        padding-left: 5%;
    }
/*    img{
        height: 70vh;
        width: auto;
        margin: auto;
        display: block;
      }    */
}
